:root{
  background-color: rgb(249, 245, 255);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bolder;
  text-align: center;
}

h1{
  font-size: 30px;
  text-align: center;
  color: rgb(6, 39, 38);
  margin-top: 40px;
  margin-bottom: 10px;
}

.quizcode{
  text-align: center;
  font-size: 60px;
  color: rgb(98, 71, 170);
}

.btn{
  font-size: medium;
}