:root{
  background-color: rgb(249, 245, 255);
}

#startTime {
  background-color: purple;
  margin-left: 33%;
  padding: 15px 32px;
  font-size: 20px;
  color: white;
}
#questionsDiv {
  margin: 20px;
}

#currentTime {
  float: right;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bolder;
  text-align: center;
}

h1{
  font-size: 30px;
  text-align: center;
  color: rgb(6, 39, 38);
  margin-top: 40px;
  margin-bottom: 10px;
}

.quizcode{
  text-align: center;
  font-size: 60px;
  color: rgb(98, 71, 170);
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}

.hidden{
  display: none;
}

.play-btn{
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
 padding-left: 70px;
 padding-right: 70px;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(104, 202, 158);
  border-radius: 15px;
}

.btn{
  font-size: 30px;
 padding-left: 70px;
 padding-right: 70px;
 padding-top: 20px;
 padding-bottom: 20px;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(104, 202, 158);
  border-radius: 15px;
}


.hover{
  cursor: pointer;
}

#highscore-btn:hover{
  box-shadow: 0;
}

/* End Page CSS */
.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem
}

input{
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0. 0.1rem 1.4rem 0
}

input::placeholder{
  color: rgb(104, 202, 158);
}

#username{
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text{
  font-size: 2.4rem;
  color: rgb(98, 71, 170);
  text-align: center;
}

#saveScoreBtn{
  vorder: none;
}